<div class="page_heading">
  {{TRANSLATE.VisitStatusCriteriaMaster}} - {{TRANSLATE.New}}
</div>

<div class="page_wrapper">
  <div class="custom_panel page_form">
    <div class="row">
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.MealStructure}} <span class="required">*</span></label>
          <mat-select placeholder=" ">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </div>
      </div>
   
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Overwrite}}</label>
          <mat-select placeholder=" " multiple>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
 

    <div class="custom_table table_bordered mb_10 ">
      <table class="mat-table" >
        <tr class="mat-header-row">
          <th class="mat-header-cell" style="width: 400px;">Capacity</th>
          <th class="mat-header-cell">20.00	</th>
          <th class="mat-header-cell">20.30	</th>
          <th class="mat-header-cell">21.00	</th>
          <th class="mat-header-cell">21.30	</th>
          <th class="mat-header-cell">22.00	</th>
          <th class="mat-header-cell">22.30	</th>
          <th class="mat-header-cell">23.00	</th>
          <th class="mat-header-cell">23.30	</th>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">2</td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">2</td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
          <td class="mat-cell">
            <input type="text" />
          </td>
        </tr>
      </table>       
    </div>
  </div>
</div>
    
<div class="bottom_btns">
  <button class="primary_btn">Submit</button>
</div>