<div class="page_heading">
  {{TRANSLATE.CompanyMaster}} - {{TRANSLATE.Edit}}  
</div>

<div class="page_wrapper">
  <div class="custom_panel page_form">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.CompanyName}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.CompanyCode}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.EmailId}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Website}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.TelephoneNo}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.AlternateTelephoneNo}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.ContactPerson}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.AlternateContactPerson}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Country}}</label>
          <div class="position_realtive">
            <input type="text" placeholder="" />
            <div class="floating_icon"><i class="fa fa-search"></i></div>
          </div>
        </div>
      </div>
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.City}}</label>
          <div class="position_realtive">
            <input type="text" placeholder="" />
            <div class="floating_icon"><i class="fa fa-search"></i></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.AddressLine1}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.AddressLine2}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.AddressLine3}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Description}}</label>
          <textarea></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom_btns">
  <button class="primary_btn">Submit</button>
</div>