<div class="page_heading">
  {{TRANSLATE.VisitStatusCriteriaMaster}} - {{TRANSLATE.New}}
</div>

<div class="page_wrapper">
  <div class="custom_panel page_form">
    <div class="row">
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Restaurant}} <span class="required">*</span></label>
          <div class="position_realtive">
            <mat-select placeholder=" ">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            <div class="floating_icon"><i class="fa fa-search"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V1stVisitDesc}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V1stVisitShortDesc}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V2ndVisitDesc}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V2ndVisitShortDesc}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>      
   
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V2ndVisitCount}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V2ndVisitTimeline}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V3rdVisitDesc}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V3rdVisitShortDesc}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>      
   
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V3rdVisitCount}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V3rdVisitTimeline}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V4thVisitDesc}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V4thVisitShortDesc}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>      
    
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.V4thVisitCount}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Active}} </label>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
      </div>      
    </div>
    
  </div>
</div>