skv-editor{
    ::ng-deep{
        #skv-text-editor{
            select{
                padding: 2px 5px;
                background: var(--input_backgroud);
                color: var(--input_div);
                margin-right: 10px;
                border-radius: 2px;
                font-size: 13px;
            }
        }
    }
}