<div class="page_heading">
  {{TRANSLATE.EmailSchedulerMaster}} - {{TRANSLATE.New}}
</div>

<div class="page_wrapper">
  <div class="custom_panel page_form">
    <div class="row">
      
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Restaurant}}</label>
            <mat-select placeholder=" " multiple>
              <mat-option value="all">Select All</mat-option>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.SchedulerName}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Time}}</label>
            <mat-select placeholder=" ">
              <mat-option value="all">Select All</mat-option>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Days}}</label>
            <mat-select placeholder=" " multiple>
              <mat-option value="all">Select All</mat-option>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.To}}</label>
          <div class="chip_panel">
            <mat-chip-list class="mat-chip-list-stacked">      
              <mat-chip color="primary" *ngFor="let fruit of fruits">
                  {{fruit.name}} 
                  <span (click)="removeTo(fruit)">
                    <i class="fa fa-times"></i>
                  </span>
              </mat-chip>
          </mat-chip-list>
          <input placeholder="Enter Your Text"      
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTo($event)"/>
          </div>
        </div>
      </div>      
   
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.CC}} </label>
          <div class="chip_panel">
            <mat-chip-list class="mat-chip-list-stacked">      
              <mat-chip color="primary" *ngFor="let email of emails">
                  {{email.name}} 
                  <span (click)="removeCC(email)">
                    <i class="fa fa-times"></i>
                  </span>
              </mat-chip>
          </mat-chip-list>
          <input placeholder="Enter Your Text"      
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addCC($event)"/>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.IncludeFeedback}}</label>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
      </div> 
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.SeatedReservation}}</label>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.CancelledReservation}}</label>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.RepeatGuest}}</label>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.WalkinWithSeatedReservation}}</label>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Active}}</label>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
      </div> 
           
    </div>
    
  </div>
</div>
<div class="bottom_btns">
  <button class="primary_btn border_btn mr_10">Reset</button>
  <button class="primary_btn">Submit</button>
</div>