
<div class="page_heading">
  Rights
</div>

<div class="page_wrapper">
  <div class="custom_panel page_form">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.RoleName}}</label>
          <input type="text" placeholder="" />
        </div>
      </div>

      <div class="custom_table mt_20 no_side_spacing">
        <table class="mat-table" >
          <tr class="mat-header-row">
            <th class="mat-header-cell" style="width: 600px;">Configuration</th>
            <th class="mat-header-cell">
            <div class="d_flex">
              <div class="custom_checkbox mr_10">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
              Access
            </div>
            </th>
            <th class="mat-header-cell">
              <div class="d_flex">
                <div class="custom_checkbox mr_10">
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </div>
                New
              </div>
            </th>
            <th class="mat-header-cell">
              <div class="d_flex">
                <div class="custom_checkbox mr_10">
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </div>
                Edit
              </div>
            </th>
            <th class="mat-header-cell">
              <div class="d_flex">
                <div class="custom_checkbox mr_10">
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </div>
                Delete
              </div>
            </th>
            <th class="mat-header-cell">
              <div class="d_flex">
                <div class="custom_checkbox mr_10">
                  <mat-checkbox class="example-margin"></mat-checkbox>
                </div>
                List
              </div>
            </th>
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Account	</td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>

          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Account Master	</td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Role Master</td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>
            
          </tr>
          <tr class="mat-header-row">
            <th class="mat-header-cell" style="width: 600px;">Dashboard</th>
            <th class="mat-header-cell" colspan="10">
            <div class="d_flex">
              <div class="custom_checkbox mr_10">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
              Access
            </div>
            </th>
            
          </tr>
          <tr class="mat-row">
            <td class="mat-cell">Account	</td>
            <td class="mat-cell">
              <div class="custom_checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
              </div>
            </td>

          </tr>
        </table>
      </div>

  </div>
</div>
</div>

<div class="bottom_btns">
  <button class="primary_btn border_btn mr_10">Reset</button>
  <button class="primary_btn">Submit</button>
</div>