<!-- <div class="card_panel">
  <div class="card_box"> 
    <a routerLink="/reservation">
      <img src="./assets/image/reserveration.png">
      <p>{{TRANSLATE.RESERVATION}}</p>
    </a>  
  </div>
  <div class="card_box">
    <a routerLink="/reservation">
      <img src="./assets/image/reserveration.png">
      <p>{{TRANSLATE.RESERVATION}}</p>
  </a>   
  </div>
</div> -->
<div class="dash_wrapper">
  <div class="dash_head">
    <h4>Dashboard</h4>
    <div class="filter_dd" style="display: none;">
      <div class="radio_btn">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" checked>Day</mat-radio-button>
          <mat-radio-button value="2">Weekly</mat-radio-button>
          <mat-radio-button value="3">Monthly</mat-radio-button>
        </mat-radio-group>
        &nbsp;&nbsp; | &nbsp;&nbsp;
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" checked>Normal</mat-radio-button>
          <mat-radio-button value="2" (change)="radioChange($event)">Percentage</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- <button mat-button [matMenuTriggerFor]="menu"> <i class="fa fa-filter"></i></button>
      <mat-menu #menu="matMenu" class="option_panel">
        <div class="day_dd">
          <a routerLink="">Day</a>
          <a routerLink="">Weekly</a>
          <a routerLink="">Monthly</a>
        </div>
        <a>Percentage</a>
      </mat-menu> -->
    </div>
  </div>
  <div>
    <!-- <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height: '360px'}"></canvasjs-chart> -->
    <!-- <button [ngClass]="'backButton'" *ngIf="this.isButtonVisible" (click)="handleClick($event)">Back</button> -->
</div>     
  <!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->

  <!-- <canvas id="myTryCHart1" width="300px" height="300px"></canvas> -->

  <div class="dash_top_panel">
    <div class="dashboard_panel">
      
      <h4>Waitlisted</h4>
    <div class="wait_panel">
        <div class="left">
          <img src="../../assets/image/icons/dine-table.png"/> 20 <span>RES</span> <br/>
          <img src="../../assets/image/icons/people.png"/> 40 <span>PAX</span>
        </div>
      <div class="right">
        <span>Average Wait Time</span>
        <h3><img src="../../assets/image/icons/clock_orange.png"/> 15 Min. 30 Sec.</h3>
      </div>
    </div>


    </div>
  
    <div class="dashboard_panel">
      <h4>Avg. Party Size</h4>

      <div class="count">
        4 <span>PAX</span> 
        <span class="increase">+10%</span>
      </div>
    </div>
  
    <div class="dashboard_panel ">
      <h4>Walk-In</h4>
      <div class="count">
        20 <span>PAX</span>  
        <span class="decrease">-10%</span>
      </div>
    </div>
  
    <div class="dashboard_panel cancel_panel">
      <h4>Cancellations</h4>
      <div class="count">
        20 <span>RES</span> | 40 <span>PAX</span>
        <span class="increase">+15%</span>
      </div>
    </div>
  
    <div class="dashboard_panel cancel_panel">
      <h4>No Shows</h4>
      <div class="count">
        20 <span>RES</span> | 60 <span>PAX</span>  
        <span class="increase">+25%</span>
      </div>
    </div>
  
    <div class="dashboard_panel">
      <h4>Lead time before booking per day of week</h4>

      <div class="wait_panel">
        <div class="left">
          <img src="../../assets/image/icons/dine-table.png"/> 20 <span>RES</span> <br/>
          <img src="../../assets/image/icons/people.png"/> 40 <span>PAX</span>
        </div>
      <div class="right">
        <span>Number of days</span>
        <h3><img src="../../assets/image/icons/calendar.png"/> 15Days</h3>
      </div>
    </div>

    </div>

  </div>
  
    <div class="dash_left">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="dashboard_panel">            
            <div class="d_flex cstm_dd">
              Reservation Status
              <div class="filter_panel">
                <select class="day_dd">
                  <option routerLink="">Day</option>
                  <option routerLink="">Weekly</option>
                  <option routerLink="">Monthly</option>
                </select>
                <div class="chart_filter">
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                      <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                    </mat-button-toggle>
                    <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                      <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  
                </div>
              </div>
            </div>
            <div class="percentage_panel" *ngIf="showPercentage">
              <div class="percentage_text">Currently Seated <span>60%</span></div>
              <div class="percentage_text">Yes to arrive <span>40%</span></div>
            </div>
            <div *ngIf="showChartView">
              <canvas baseChart 
              [data]="doughnutChartData" 
              [labels]="doughnutChartLabels" 
              [chartType]="doughnutChartType"       
              [colors]="doughnutChartColors"
              [options]="doughnutChartOptions" 
              [plugins]="doughnutChartPlugins" 
              >
              </canvas>
              <!-- <canvas id="ReservationStatus" width="400" height="200"></canvas> -->
              
            </div>
            <div *ngIf="showGridView">
              <div class="custom_table table_bordered mt_10 table_sm custom_scroll">
                <table class="mat-table" >
                  <tr class="mat-header-row">
                    <th class="mat-header-cell">Table Number</th>
                    <th class="mat-header-cell">Currently Seated</th>
                    <th class="mat-header-cell">Yes to arrive	</th>
                  </tr>
                  <tr class="mat-row">
                    <td class="mat-cell">001</td>
                    <td class="mat-cell">50</td>
                    <td class="mat-cell">15</td>
                  </tr>
                  <tr class="mat-row">
                    <td class="mat-cell">002</td>
                    <td class="mat-cell">40</td>
                    <td class="mat-cell">10</td>
                  </tr>
                  <tr class="mat-row">
                    <td class="mat-cell">003</td>
                    <td class="mat-cell">50</td>
                    <td class="mat-cell">15</td>
                  </tr>
                  
                  <tr class="mat-row">
                    <td class="mat-cell">002</td>
                    <td class="mat-cell">40</td>
                    <td class="mat-cell">10</td>
                  </tr>
                  <tr class="mat-row">
                    <td class="mat-cell">003</td>
                    <td class="mat-cell">50</td>
                    <td class="mat-cell">15</td>
                  </tr>
                </table>
              </div>
            </div>

           
          </div>
        </div>
      
        <div class="col-lg-4 col-sm-6">
          <div class="dashboard_panel">
            <div class="d_flex cstm_dd">
              Table Status
              <div class="filter_panel">
                <select class="day_dd">
                  <option routerLink="">Day</option>
                  <option routerLink="">Weekly</option>
                  <option routerLink="">Monthly</option>
                </select>
                <div class="chart_filter">
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                      <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                    </mat-button-toggle>
                    <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                      <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  
                </div>
              </div>
            </div>
            
            <div class="percentage_panel" *ngIf="showPercentage">
              <div class="percentage_text">Reserved <span>60%</span></div>
              <div class="percentage_text">Occupied  <span>20%</span></div>
              <div class="percentage_text">Vacant  <span>20%</span></div>
            </div>
            <div class="chartjs-container">
              <canvas 
                baseChart 
                [data]="pieChartData" 
                [labels]="pieChartLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions" 
                [plugins]="pieChartPlugins" 
                [colors]="pieChartColors" 
                [legend]="pieChartLegend">
            </canvas>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-sm-6">
          <div class="dashboard_panel">
            <h4></h4>
            <div class="d_flex cstm_dd">
              Reservation Source
              <div class="filter_panel">
                <select class="day_dd">
                  <option routerLink="">Day</option>
                  <option routerLink="">Weekly</option>
                  <option routerLink="">Monthly</option>
                </select>
                <div class="chart_filter">
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                      <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                    </mat-button-toggle>
                    <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                      <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  
                </div>
              </div>
            </div>
            <div class="percentage_panel" *ngIf="showPercentage">
              <div class="percentage_text">BYT Web <span>60%</span></div>
              <div class="percentage_text">Company Web <span>20%</span></div>
              <div class="percentage_text">Google <span>40%</span></div>
            </div>
            <canvas id="myChart" width="400" height="200"></canvas>
          </div>   
        </div>
        
        
    <div class="col-lg-4 col-sm-6">
      <div class="dashboard_panel">
        <div class="d_flex cstm_dd">
          Table Turnover
          <div class="filter_panel">
            <select class="day_dd">
              <option routerLink="">Day</option>
              <option routerLink="">Weekly</option>
              <option routerLink="">Monthly</option>
            </select>
            <div class="chart_filter">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                  <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                </mat-button-toggle>
                <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                  <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                </mat-button-toggle>
              </mat-button-toggle-group>
              
            </div>
          </div>
        </div>
        <canvas baseChart 
          [datasets]="barChartData" 
          [labels]="barChartLabels" 
          [options]="barChartOptions"
          [plugins]="barChartPlugins" 
          [legend]="barChartLegend" 
          [chartType]="barChartType">
      </canvas>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="dashboard_panel">
        <div class="d_flex cstm_dd">
          Revenue Analytics
          <div class="filter_panel">
            <select class="day_dd">
              <option routerLink="">Day</option>
              <option routerLink="">Weekly</option>
              <option routerLink="">Monthly</option>
            </select>
            <div class="chart_filter">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                  <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                </mat-button-toggle>
                <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                  <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                </mat-button-toggle>
              </mat-button-toggle-group>
              
            </div>
          </div>
        </div>
        <div class="chartjs-container">
          <canvas baseChart 
              [datasets]="lineChartData" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins"
              (chartHover)="chartHovered($event)" 
              (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>  
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="dashboard_panel">
        <div class="d_flex cstm_dd">
          Forecasting
          <div class="filter_panel">
            <select class="day_dd">
              <option routerLink="">Day</option>
              <option routerLink="">Weekly</option>
              <option routerLink="">Monthly</option>
            </select>
            <div class="chart_filter">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                  <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                </mat-button-toggle>
                <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                  <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                </mat-button-toggle>
              </mat-button-toggle-group>
              
            </div>
          </div>
        </div>
        <div class="chartjs-container">
          <canvas id="Forecasting" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
    


    <div class="col-lg-4 col-sm-6">
      <div class="dashboard_panel">
        <div class="d_flex cstm_dd">
          Table Occupancy
          <div class="filter_panel">
            <select class="day_dd">
              <option routerLink="">Day</option>
              <option routerLink="">Weekly</option>
              <option routerLink="">Monthly</option>
            </select>
            <div class="chart_filter">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                  <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                </mat-button-toggle>
                <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                  <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                </mat-button-toggle>
              </mat-button-toggle-group>
              
            </div>
          </div>
        </div>
        <div class="chartjs-container">
          <canvas baseChart 
              [datasets]="lineChartData" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins"
              (chartHover)="chartHovered($event)" 
              (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="dashboard_panel">
        <div class="d_flex cstm_dd">
          Guest Arrival Patterns
          <div class="filter_panel">
            <select class="day_dd">
              <option routerLink="">Day</option>
              <option routerLink="">Weekly</option>
              <option routerLink="">Monthly</option>
            </select>
            <div class="chart_filter">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                  <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                </mat-button-toggle>
                <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                  <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                </mat-button-toggle>
              </mat-button-toggle-group>
              
            </div>
          </div>
        </div>
        <div class="chartjs-container"> 
          <canvas id="GuestArrivalPatterns" width="400" height="200"></canvas>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="dashboard_panel">
        <div class="d_flex cstm_dd">
          Reservation vs Walkin
          <div class="filter_panel">
            <select class="day_dd">
              <option routerLink="">Day</option>
              <option routerLink="">Weekly</option>
              <option routerLink="">Monthly</option>
            </select>
            <div class="chart_filter">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                  <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                </mat-button-toggle>
                <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                  <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                </mat-button-toggle>
              </mat-button-toggle-group>
              
            </div>
          </div>
        </div>
        <canvas baseChart 
          [datasets]="barChartData1" 
          [labels]="barChartLabels1" 
          [options]="barChartOptions1"
          [plugins]="barChartPlugins1" 
          [legend]="barChartLegend1"
          [colors]="barChartColors1"  
          [chartType]="barChartType1">
        </canvas>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="dashboard_panel">
        <div class="d_flex cstm_dd">
          Meal Session
          <div class="filter_panel">
            <select class="day_dd">
              <option routerLink="">Day</option>
              <option routerLink="">Weekly</option>
              <option routerLink="">Monthly</option>
            </select>
            <div class="chart_filter">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                  <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                </mat-button-toggle>
                <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                  <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                </mat-button-toggle>
              </mat-button-toggle-group>
              
            </div>
          </div>
        </div>
        <canvas id="mealSession" width="400" height="200"></canvas>

      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="dashboard_panel">
        <div class="d_flex cstm_dd">
          Peak Booking Times
          <div class="filter_panel">
            <select class="day_dd">
              <option routerLink="">Day</option>
              <option routerLink="">Weekly</option>
              <option routerLink="">Monthly</option>
            </select>
            <div class="chart_filter">
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class="chart_view" value="italic" (change)="toggleChartView()">
                  <!-- <img src="../../assets/image/icons/chart_view.png" /> -->
                </mat-button-toggle>
                <mat-button-toggle class="grid_view" value="underline" (change)="toggleGridView()">
                  <!-- <img src="../../assets/image/icons/grid_view.png" /> -->
                </mat-button-toggle>
              </mat-button-toggle-group>
              
            </div>
          </div>
        </div>
        <!-- <div class="chartjs-container">
          <canvas 
          baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions" 
          [plugins]="pieChartPlugins" 
          [colors]="pieChartColors" 
          [legend]="pieChartLegend">
      </canvas>
        </div> -->
        <div class="chartjs-container">
          <canvas baseChart 
              [datasets]="scatterChartData" 
              [options]="scatterChartOptions" 
              [chartType]="scatterChartType">
          </canvas>
      </div>
      </div>
    </div>

      </div>
    </div>
  

    <!-- <div class="col-md-8">
      <div class="dashboard_panel">
        <h4>Table Turnover</h4>
        <canvas baseChart 
          [datasets]="horizontalBarChartData" 
          [labels]="horizontalBarChartLabels" 
          [options]="barChartOptions"
          [plugins]="barChartPlugins" 
          [legend]="barChartLegend" 
          [chartType]="barChartType">
      </canvas>
      </div>
    </div> -->

    

    
    <div class="col-lg-4 col-sm-6" style="display: none;">
      <div class="dashboard_panel">
        <h4>Reservation Cancellations</h4>

        <div class="resrv_cancel_box custom_scroll">
          <div class="msg_box">
            <p>"I changed my mind” is the top reason for cancelling an order
          </p>
          <div class="d_flex">
            <img src="../../assets/image/icons/clock_red.png"/> 2.30PM
          </div>
          </div>
          <div class="msg_box">
            <p>"I changed my mind” is the top reason for cancelling an order
          </p>
          <div class="d_flex">
            <img src="../../assets/image/icons/clock_red.png"/> 2.30PM
          </div>
          </div><div class="msg_box">
            <p>"I changed my mind” is the top reason for cancelling an order
          </p>
          <div class="d_flex">
            <img src="../../assets/image/icons/clock_red.png"/> 2.30PM
          </div>
          </div><div class="msg_box">
            <p>"I changed my mind” is the top reason for cancelling an order
          </p>
          <div class="d_flex">
            <img src="../../assets/image/icons/clock_red.png"/> 2.30PM
          </div>
          </div><div class="msg_box">
            <p>"I changed my mind” is the top reason for cancelling an order
          </p>
          <div class="d_flex">
            <img src="../../assets/image/icons/clock_red.png"/> 2.30PM
          </div>
          </div>
        </div>
      </div>
    </div>


</div>


