<div class="page_heading">
  {{TRANSLATE.FloorMaster}} - {{TRANSLATE.New}}
</div>

<div class="page_wrapper">
  <div class="custom_panel page_form">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Restaurant}} <span class="required">*</span></label>
          <div class="position_realtive">
            <input type="text" placeholder="" />
            <div class="floating_icon"><i class="fa fa-search"></i></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Floor}} <span class="required">*</span></label>
          <input type="text" placeholder="" />
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.FloorImage}}</label>
          <app-upload-image></app-upload-image>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Active}}</label>
          <div class="custom_checkbox">
            <mat-checkbox class="example-margin"></mat-checkbox>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
<div class="bottom_btns">
  <button class="primary_btn border_btn mr_10">Reset</button>
  <button class="primary_btn">Submit</button>
</div>