<div class="page_heading">
  {{TRANSLATE.BlockTimeSlots}} - {{TRANSLATE.New}}  
</div>

<div class="page_wrapper">
  <div class="custom_panel page_form">
    <div class="row">
    
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Restaurant}} <span class="required">*</span></label>
          <div class="position_realtive">
            <input type="text" placeholder="" />
            <div class="floating_icon"><i class="fa fa-search"></i></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.FromDate}}</label>
          <div class="custom_datepicker">
            <input matInput [matDatepicker]="FromDate">
            <mat-datepicker-toggle matIconSuffix [for]="FromDate"></mat-datepicker-toggle>
            <mat-datepicker #FromDate ></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.ToDate}}</label>
          <div class="custom_datepicker">
            <input matInput [matDatepicker]="ToDate">
            <mat-datepicker-toggle matIconSuffix [for]="ToDate"></mat-datepicker-toggle>
            <mat-datepicker #ToDate></mat-datepicker>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form_panel">
          <label>{{TRANSLATE.Description}} <span class="required">*</span></label>
          <textarea></textarea>
        </div>
      </div>
    </div>
    <h4>Block Time Slots</h4>
    <div class="custom_table table_bordered mb_10">
      <table class="mat-table" >
        <tr class="mat-header-row">
          <th class="mat-header-cell">Channel</th>
          <th class="mat-header-cell">Meal Structure</th>
          <th class="mat-header-cell">Time</th>
          <th class="mat-header-cell">Active</th>
          <th class="mat-header-cell">Action</th>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <div class="form_panel">
            <mat-select placeholder=" ">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            </div>
          </td>
          <td class="mat-cell">
            <div class="form_panel">
            <mat-select placeholder=" ">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            </div>
          </td>
          <td class="mat-cell">
            <div class="form_panel">
            <mat-select placeholder=" " multiple>
              <mat-option value="All">Select All</mat-option>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            </div>
          </td>
          <td class="mat-cell">
            <div class="form_panel">
            <mat-select placeholder=" ">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            </div>
          </td>
          <td class="mat-cell">
            <div class="d_flex">
              <button class="primary_btn mr_10 btn_sm"> Add </button>
              <button class="primary_btn btn_sm"> Clear </button>
            </div>
          </td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell">
            <div class="form_panel">
            <mat-select placeholder=" ">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            </div>
          </td>
          <td class="mat-cell">
            <div class="form_panel">
            <mat-select placeholder=" ">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            </div>
          </td>
          <td class="mat-cell">
            <div class="form_panel">
            <mat-select placeholder=" " multiple>
              <mat-option value="All">Select All</mat-option>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            </div>
          </td>
          <td class="mat-cell">
            <div class="form_panel">
            <mat-select placeholder=" ">
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
            </div>
          </td>
          <td class="mat-cell">
            <div class="d_flex">
              <button class="primary_btn mr_10 btn_sm"> Add </button>
              <button class="primary_btn btn_sm"> Clear </button>
            </div>
          </td>
        </tr>
      </table>       
    </div>


  </div>
</div>

<div class="bottom_btns">
  <button class="primary_btn border_btn mr_10">Reset</button>
  <button class="primary_btn">Submit</button>
</div>